.account-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.account-form hr {
    width: 500px;
    margin: 5px 0;
}

.account-form form div {
    margin-bottom: 5px;
}