#articles {
}

#articles-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    padding: 10px;
    margin-bottom: 10px;
}

.article:hover {
    background-color: antiquewhite;
}

.article > a {
    display: block;
    color: black;
    width: 800px;
    margin-bottom: 10px;
}

.article img {
    width: 800px;
}

.article-date,
.article-commands {
    text-align: right;
}

.article-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.article-form hr {
    width: 600px;
    margin: 5px 0;
}

.article-form form div {
    margin-bottom: 5px;
}

.article-form .input {
    width: 600px;
}

.article-form-shortdescription {
    height: 100px;
}

.article-form-fulldescription {
    height: 400px;
}

.article-form textarea {
    min-width: 600px;
}
