* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    width: 1024px;
    margin: auto;
}

body {
}

header {
}

#header-wrapper {
    background-color: darkred;
}

#header {
    background-color: darkred;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#menu-wrapper {
    background-color: goldenrod;
}

#menu-wrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: inline-block;
    list-style: none;
    background-color: goldenrod;
}

#menu li {
    display: inline-block;
}

#menu li a {
    display: block;
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#menu li a:hover {
    background-color: darkgoldenrod;
}

#authentication {
    display: inline-block;
}

#authentication a {
}
