.button {
    display: inline-block;
    background-color: darkred;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid white;
}

.button:hover {
    background-color: red;
    border-color: red;
    box-shadow: 0 0 5px darkred;
}

.input {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}

.input:hover {
    border-color: goldenrod;
    box-shadow: 0 0 5px goldenrod;
}

body {
}

header {
}

#header-wrapper {
    background-color: darkred;
}

#header {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#menu-wrapper {
    background-color: goldenrod;
}

#menu-wrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: inline-block;
    background-color: goldenrod;
}

#menu li {
    display: inline-block;
}

#menu li a {
    display: block;
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#menu li a:hover {
    background-color: darkgoldenrod;
}

#authentication {
    display: inline-block;
}

#authentication :last-child {
    margin-left: 5px;
}

#command-menu-wrapper {
    padding: 2px 0;
    background-color: darkcyan;
}

#command-menu-wrapper div {
    text-align: right;
}
