.wrapper {
    width: 1024px;
    margin: auto;
}

.button {
    display: inline-block;
    background-color: #5c5c3d;
    color: #d6d6c2;
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 12px;
}

.button:hover {
    background-color: #7a7a52;
    color: white;
}

.input {
    padding: 3px;
    border: 1px solid gray;
    border-radius: 6px;
}

.input:hover {
    border-color: aqua;
    box-shadow: 0 0 5px aqua;
}

#header-wrapper {
    background-color: darkred;
}

#header {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

#header a {
    color: goldenrod;
}

#header a:hover {
    color: white;
}

#menu-wrapper {
    background-color: #999966;
}

#menu-wrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu li {
    display: inline-block;
}

#menu li a {
    display: block;
    padding: 10px;
    color: #d6d6c2;
}

#menu li a:hover {
    background-color: #5c5c3d;
    color: white;
}

#authentication :last-child {
    margin-left: 5px;
}

#command-menu-wrapper {
    padding: 2px 0;
    background-color: dimgray;
}

#command-menu-wrapper div {
    text-align: center;
}