table {
    border-collapse: collapse;
}

table, tr, td {
    border: 1px solid black;
}

td {
    padding: 7px;
    text-align: center;
}

#users {
    padding: 10px 0;
}

#users-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.user-form hr {
    width: 500px;
    margin: 5px 0;
}

.user-form form div {
    margin-bottom: 5px;
}