@model ForgotUserViewModel

@{
    Layout = "_CommonLayout";
    ViewBag.Title = "Восстановление пароля";
}

@section StylesSection {
    <link href="~/Styles/AccountStyleSheet.css" rel="stylesheet" />
    <link href="~/Styles/ValidationStyleSheet.css" rel="stylesheet" />
}

<div class="account-form">
    <h2>Авторизация пользователя</h2><hr />
    <form method="post" asp-controller="Account" asp-action="Forgot">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input class="input" asp-for="EMail" placeholder="Введите ваш Email" /><br />
            <span asp-validation-for="EMail"></span>
        </div>
        <div>
            <input class="button" type="submit" value="Далее" />
        </div>
    </form>
</div>

@section ScriptsSection {
    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}