@model ResetPasswordUserViewModel

@{
    Layout = "_CommonLayout";
    ViewBag.Title = "Изменение пароля";
}

@section StylesSection {
    <link href="~/Styles/AccountStyleSheet.css" rel="stylesheet" />
    <link href="~/Styles/ValidationStyleSheet.css" rel="stylesheet" />
}

<div class="account-form">
    <h2>Изменение пароля пользователя</h2><hr />
    <form method="post" asp-controller="Account" asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="UserId" hidden />
        <input asp-for="UserCode" hidden />
        <div>
            <input class="input" asp-for="Password" placeholder="Введите новый пароль" /><br />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <input class="input" asp-for="ConfirmPassword" placeholder="Повторите новый пароль" /><br />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <input class="button" type="submit" value="Изменить пароль" />
        </div>
    </form>
</div>

@section ScriptsSection {
    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}