<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="" />
</head>
<body>
    <nav></nav>
    <div>
        @RenderBody()
    </div>
    <footer></footer>
</body>
</html>
