@{
    Layout = "_CommonLayout";
    ViewBag.Title = "Главная страница";
}

@if (User.IsInRole("Администратор")||User.IsInRole("Модератор"))
{
    @section CommandMenuSection {
        <a class="button" asp-controller="Articles" asp-action="Create">Добавить статью</a>
    }
}