@model  List<User>

@{
    Layout = "_ManageLayout";
    ViewBag.Title = "Список пользователей";
}

@section StylesSection {
    <link href="~/Styles/UsersStyleSheet.css" rel="stylesheet" />
}

<div id="users">
    <h2>Список пользователей</h2><br />
    <div id="users-list">
        <table>
            <tr>
                <td>Логин</td>
                <td>Роль</td>
                <td>Действия</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.UserRole</td>
                    <td>
                        @if (item.UserName != "Admin")
                        {
                            <form asp-controller="Users" asp-action="Remove" asp-route-id="@item.Id" method="post">
                                <button class="button" type="submit">Удалить</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </table>
        <div>
            Общее количество зарегистрированных: @Model.Count
            <table>
                <tr>
                    <td>Роль</td>
                    <td>Количество</td>
                </tr>
            </table>
        </div>
    </div>
</div>
